body {
  font-family: 'Roboto', sans-serif;
}
ul {
  color: #c11e0d;
}
li {
  color: #c11e0d;
}
.loginform {
  margin-top: 100px;
}
.userprofile {
  margin-left: -15px;
  margin-top: 20px;
}
.pwdchanger {
  margin-left: -15px;
  margin-top: 10px;
}
.generali {
  color: #c11e0d;
}
#dynamic {
  color: blue;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #c11e0d;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#footer {
  position: fixed;
  background: white;
  bottom: 0;
  width: 100%;
  height: 90px;
  /* choose any height */
}
#cognosframe {
  width: 100%;
  margin-top: -30px;
  background-color: #3498db;
}

.scope-duplicate {
    color: #cc4b37;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: bold;
}

#scope-delete-confirm > div {
    margin: 0 25%;
}

#scope-delete-confirm > h3 {
    text-align: center;
    margin-bottom: 5%;
}

#scope-delete-confirm > div > button {
    width: 100px;
}

#scope-delete-confirm > div > button[id=scope-delete-no] {
    float: right;
}

td[class^=form-error-] {
    background-color: #f9ecea;
}
