.page-body{
    padding: 15px;
}

#auto{
    display:block;
    display-inline:block;
}
#moto{
    display:none;
    display-inline:block;
}
#commerciale{
    display:none;
    display-inline:block;
}

li img {
    width: 32px;
    height: 32px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: sticky;
}